---
title: all footer art
date: 2017-05-08 20:14 CDT
category: all footers
tags: all footers
footer_art: search
---
<%
list = %w/
404
applications
art
art-2
balloons
birdnflags
community
default
friends
i18n
library
search_no-results
search
support
/
%>
<% list.each do |e| %>
  <figure>
    <%= tag :img, :src => "/assets/stylesheets/img/footer_arts/#{e}.png", :alt  => "#{e} footer image" %>
  <figcaption>
    <span class="hp"><%= e %></span>
  </figcaption>
  </figure>
<% end %>

<p>Ballons at <a
  href="http://web.archive.org/web/20120716233929if_/http://www.gnome.org/foundation/"
  target="_blank"> archive of page from The GNOME Foundation</a>.</p>

<p>And here's a <a
  href="http://web.archive.org/web/2012061504181if_1/http://www.gnome.org/support-gnome/"
  target="_blank"> default footer</a> on a not too large page.</p>

<p><a href="https://themetix.com/gnome-grass" target="_blank"> A footer</a>
somewhat like what we've collected.</p>

<p>the <a href="https://github.com/vdepizzol/gnome-grass" target="_blank">
gnome-grass theme</a> on github.</p>
