---
title: Using VW units for a full-width layout
date: 2017-06-28 15:50 CST
category: example
tags: data driven, example
stylesheet: additional_styles/posts/using-vw-units-for-a-full-width-layout-2017-06-28
---

A CSS Grid gallery using viewport units (VW) to extend beyond the central text
column, creating a full-width layout within the site’s existing wrapper
structure.READMORE
Also&nbsp;a&nbsp;script ensures intentional line breaks in gallery headers.

> In the latter half of the seventeenth century, the general populace took up the
> practice of archery in increasing numbers.

<% elements = data.posts.using_vw_units_for_a_full_width_layout_2017_06_28.a %>

<div class="full-width">
  <div class="gallery">

<% elements.each do |e| %>
    <div class="gallery-item">

  <%= image_tag "posts/using-vw-units-for-a-full-width-layout-2017-06-28/#{e[:img]}",
                :class => "#{e[:adjust_img]}" %>

      <h3><%= e[:title] %></h3>
      <p><%= e[:text] %></p>
    </div>

<% end %>
  </div>
</div>

---

Kyudo cannot be learned through technique alone; we must never forget the
importance of the inner self when practicing.

<script>
 // Code to  prevent widows in gallery item headers when they wrap
document.addEventListener('DOMContentLoaded', function() {
  // Select all h3 elements within gallery items
  document.querySelectorAll('.gallery-item h3').forEach(function(heading) {
    // Split the heading text into an array of words
    let words = heading.innerHTML.split(' ');
    // Check if there are more than one word
    if (words.length > 1) {
      // Combine the last two words with a non-breaking space
      words[words.length - 2] += '&nbsp;' + words.pop(); // Add non-breaking space
      // Join the words back into a single string and update the heading
      heading.innerHTML = words.join(' ');
    }
  });
});
</script>
