    <!-- footer include -->
    <footer class="center">
      <div class="measure">
        <small>
          <%# pixyll.com had expired, so we were going to archive.org, now it's back %>
          <%# <a href="https://web.archive.org/web/20181226190553if_/http://pixyll.com/" target="_blank">Theme</a> %>
          <a href="https://www.pixyll.com/" target="_blank">Theme</a>
          crafted with &lt;3 by <a href="https://johno.com" target="_blank">John Otander</a> (<a href="https://twitter.com/4lpine" target="_blank">@4lpine</a>).<br>
          &lt;/&gt; available on <a href="https://github.com/johno/pixyll" target="_blank">Github</a>.
        </small>
      </div>
    </footer>
    <!-- end footer include -->
