    <!-- footer include -->
    <footer class="center">
      <div class="measure">
        <small>
          <!-- Your version -->
          <a href="https://traven-b.github.io/roji/" target="_blank">Roji</a>:
          A Middleman port of the
          <!-- Original theme -->
          <a href="https://github.com/johno/pixyll" target="_blank">Pixyll Theme</a>.
          <br>
          <!-- Code link -->
          &lt;/&gt; available at 
          <a href="https://github.com/traven-b/roji" target="_blank">Github</a>
        </small>
      </div>
    </footer>
    <!-- end footer include -->
