<!doctype html>
<html>
    <!-- head include -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <title>Articles tagged example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/feed.xml" />
    <link href="../assets/stylesheets/fonts_pixyll-3af869c1.css" rel="stylesheet" />
    <link href="../assets/stylesheets/fonts_deja_vu_sans_mono-23920dc3.css" rel="stylesheet" />
    <link href="../assets/stylesheets/fonts_webfonts-1fead4a3.css" rel="stylesheet" />
    <link href="../assets/stylesheets/pixyll-a3f939ae.css" rel="stylesheet" />
    <!-- sometimes CSS -->
    
  </head>
  <!-- end head include -->

  <body class="site">
    <div class="site-wrap">
            <!-- header include -->
      <header class="site-header px2 px-responsive">
        <div class="mt2 wrap">
          <div class="measure">
            <a href="../articles.html" class="site-title">roji</a>
            <nav class="site-nav">

              <!-- navigation from inside header inculde -->
              <a href="../all-categories.html">Categories</a>
              <a href="../all-tags.html">Tags</a>
              <a href="../about.html">About</a>
              <a href="../contact.html">Contact</a>
              <!-- end navigation from inside header inculde -->

            </nav>
            <div class="clearfix"></div>
          </div>
        </div>
      </header>
      <!-- end header include -->

      <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
          
<h1>Articles tagged 'example'</h1>


<!--
<ul class="post-list">
    <li><span class="force-span"><a href="../blog/2017-09-04-example-article.html">Example Article</a> </span><span class="p-m entry-date right">September 4, 2017</span></li>

    <li><span class="force-span"><a href="../blog/2017-07-25-the-vanguard-of-web-aesthetics.html">The vanguard of web aesthetics</a> </span><span class="p-m entry-date right">July 25, 2017</span></li>

    <li><span class="force-span"><a href="../blog/2017-06-28-using-vw-units-for-a-full-width-layout.html">Using VW units for a full-width layout</a> </span><span class="p-m entry-date right">June 28, 2017</span></li>

</ul>
-->

<table class="ellipsis">
    <tr>
      <td></td>
      <td><span class="sit-header"><a href="../blog/2017-09-04-example-article.html">Example Article</a></span></td>
      <td style="vertical-align: bottom;" align="right" class="small"><span class="p-m right entry-date ">September 04, 2017</span></td>
    </tr>
    <tr>
      <td></td>
      <td><span class="sit-header"><a href="../blog/2017-07-25-the-vanguard-of-web-aesthetics.html">The vanguard of web aesthetics</a></span></td>
      <td style="vertical-align: bottom;" align="right" class="small"><span class="p-m right entry-date ">July 25, 2017</span></td>
    </tr>
    <tr>
      <td></td>
      <td><span class="sit-header"><a href="../blog/2017-06-28-using-vw-units-for-a-full-width-layout.html">Using VW units for a full-width layout</a></span></td>
      <td style="vertical-align: bottom;" align="right" class="small"><span class="p-m right entry-date ">June 28, 2017</span></td>
    </tr>
</table>

<!--
-->

<div class="mnt3-5">
<div class="pagination clearfix mb1 mt4">
  <div class="left">
      <span class="pagination-item disabled">Newer</span>
  </div>
  <div class="right">
      <span class="pagination-item disabled">Older</span>
  </div>
</div>

</div>

<div class="home">
  <div class="posts">
      <div class="post py3">
        <p class="post-meta"> Sep  4, 2017 </p>

        <!-- %= link_to "<h3   class=\"h1 post-title\"  >#{article.title}</h3>", article, :class=>"post-link" % -->


        <a href="../blog/2017-09-04-example-article.html" class="post-link"><h3 class="h1 post-title">Example Article</h3></a>

        <div class="post-summary">
        <p>Included within the context of zanshin is a separate move called yudaosbi, the
lowering of the bow. In yudaosbi maintain visual...</p>
        </div>
      </div>
      <div class="post py3">
        <p class="post-meta"> Jul 25, 2017 </p>

        <!-- %= link_to "<h3   class=\"h1 post-title\"  >#{article.title}</h3>", article, :class=>"post-link" % -->


        <a href="../blog/2017-07-25-the-vanguard-of-web-aesthetics.html" class="post-link"><h3 class="h1 post-title">The vanguard of web aesthetics</h3></a>

        <div class="post-summary">
        <!-- https://github.com/basscss/addons/blob/master/modules/media-object/README.md -->
<!-- can use just css to alternate positioning, how many browsers allow -->
<!-- https://stackoverflow.com/questions/11781531/alternating-left-and-right-positioning-with-css -->
<!-- can we construct links to fragments on this page with markdown []() notation -->
<!-- css to show and hide stuff, 1st problem, need # signs for id's, also links to fragment anchor cause page to move up -->
<!-- https://stackoverflow.com/questions/40312901/showing-and-hiding-something-with-pure-css-with-show-and-hide-button -->
<!-- display, summary using kramdown with code blocks he uses backticks though? -->
<!-- https://www.endtoend.ai/tutorial/collapsible-code-blocks/#the-safe-arduous-way -->
<!-- getalong turning off markdown processing and doing figure stuff, used this before I believe -->
<!-- https://github.com/gettalong/kramdown/issues/48 -->
<!-- moz dev page on details/summary -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details -->

<!-- 
I can and do say

    <%= image_tag "posts/the-vanguard-of-web-aesthetics-2017-07-25/#{e[:img]}" %>

where the-vanguard-of-web-aesthetics-2017-07-25 is a directory name, a subdirectory of images/posts

But I can not say

    <% elements = data.posts.the-vanguard-of-web-aesthetics-2017-07-25.red_zen %>

where  the-vanguard-of-web-aesthetics-2017-07-25 would be a directory name, a subdirectory of data/posts

but instead have to say

    <% elements = data.posts.the_vanguard_of_web_aesthetics_2017_07_25.red_zen %>

where the_vanguard_of_web_aesthetics_2017_07_25 is a directory name with underscores, a subdirectory of data/posts
 -->

<ul>
  <li>Responsive Media Objects
    <ul>
      <li>code</li>
      <li>render</li>
    </ul>
  </li>
  <li>Alternate Floating Left and Right
    <ul>
      <li>code</li>
      <li>render
</li>
</ul>
</li>
</ul>
        </div>
      </div>
      <div class="post py3">
        <p class="post-meta"> Jun 28, 2017 </p>

        <!-- %= link_to "<h3   class=\"h1 post-title\"  >#{article.title}</h3>", article, :class=>"post-link" % -->


        <a href="../blog/2017-06-28-using-vw-units-for-a-full-width-layout.html" class="post-link"><h3 class="h1 post-title">Using VW units for a full-width layout</h3></a>

        <div class="post-summary">
        <p>A CSS Grid gallery using viewport units (VW) to extend beyond the central text
column, creating a full-width layout within the site’s existing wrapper
structure.</p>
        </div>
      </div>
  </div>

<div class="pagination clearfix mb1 mt4">
  <div class="left">
      <span class="pagination-item disabled">Newer</span>
  </div>
  <div class="right">
      <span class="pagination-item disabled">Older</span>
  </div>
</div>

</div>


        </div>
      </div>
    </div> <!-- end .site-wrap -->

    <div class="footer_art_default">
    </div>

    <div class="footer_grass">
    </div>

    <!-- footer include -->
    <footer class="center">
      <div class="measure">
        <small>
          <!-- Your version -->
          <a href="https://traven-b.github.io/roji/" target="_blank">Roji</a>:
          A Middleman port of the
          <!-- Original theme -->
          <a href="https://github.com/johno/pixyll" target="_blank">Pixyll Theme</a>.
          <br>
          <!-- Code link -->
          &lt;/&gt; available at 
          <a href="https://github.com/traven-b/roji" target="_blank">Github</a>
        </small>
      </div>
    </footer>
    <!-- end footer include -->

  </body>
</html>
