.burma-shave {
  text-decoration: none;
  border-bottom: 1px dashed #444;
  position: relative; }
  .burma-shave:hover:after {
    content: " (vintage roadside ads)";
    color: #000;
    position: absolute;
    white-space: nowrap;
    left: 0;
    bottom: -1.5em; }

.custom-quote blockquote {
  margin: 1rem 0;
  /* Reduced vertical spacing */
  padding: 0.0rem 1rem;
  margin-left: 1.5rem;
  margin-left: 2.0rem;
  border-left: 4px solid #20c20e;
  background-color: #f8f8f8;
  font-style: italic;
  line-height: 1.5; }

/* Optional: further customize paragraphs inside */
.custom-quote blockquote p {
  margin: 0.5rem 0;
  font-size: 1.05rem; }
