/* put variables in media min-width: nnem occurances
   look in _variables for vaules we're using here and see if any match something we're doing here
   for example where we make headers smaller in post summary bits, could use variables for sizes
   part of this was done when working off the compiled pixyll.css file, so don't worry too much about it
 */

figure {
  margin: 1em 0;
}

// Page width
// $measure-width: 42rem;
// Viewport widths
// $viewport-small: 32em;
// $viewport-medium: 48em;
// $viewport-large: 64em;
// Whitespace
// $space-1: .5rem;
// $space-2: 1rem;
// $space-3: 2rem;
// $space-4: 4rem;

// keep image thats tall (or tall and wide) from being too tall
// https://stackoverflow.com/questions/13632985/limit-the-height-of-a-responsive-image-with-css/48252904#48252904
// figure img {
//   max-height: 25rem;
//   height: 70%;
//   width: auto;
// }

figure img {
  m_ax-height: 25rem;
}

figcaption {
  font-family: $heading-font-family;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 300;
}

img.left, {
  float: none;
  // margin-right: 0;
  margin-left: auto;
  margin-right: auto;

  // max-height: 25rem;
  max-width: 100%;
  display: table; // fixes image and text on same line when not floating, needed in one place, not needed in another
}

img.right {
  float: none;
  // margin-left: 0;
  margin-left: auto;
  margin-right: auto;

  // max-height: 25rem;
  max-width: 100%;
  display: table;
}

@media screen and (min-width: $viewport-small) {

  img.left {
    max-width: 50%;
    clear: none;
  }

  img.right {
    max-width: 50%;
  }

  img.left {
    float: left;
    margin-right: $space-2;
    // margin-bottom: 0;
  }

  img.right {
    float: right;
    margin-left: $space-2;
    // margin-bottom: 0;
  }

  figure {
    margin: $space-2 $space-3;
  }

  figure.figure-l {
    margin: 0 $space-3 $space-1 0;
    max-width: 50%;
    float: left;
  }

  figure.figure-r {
    margin: 0 0 $space-1 $space-3;
    max-width: 50%;
    float: right;
  }

  figure.figure-r figcaption {
    text-align: right;
  }

}

@media screen and (min-width: $viewport-large + 14) {
  em img.left {
    margin-left: -7em;
  }

  em img.right {
    margin-right: -7em;
  }

  figure.figure-em {
    // max-width: $measure-width + 14;
    max-width: 42rem + 14;
    margin-left: -7em;
    margin-right: -7em;
  }

  .figure-l.figure-em {
    margin-right: $space-3;
    margin-left: -7em;
  }

  .figure-r.figure-em {
    margin-left: $space-3;
    margin-right: -7em;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.site-header .site-title {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

// 3-5 because space-3 is 2rem space-4 is 4rem
.mnt3-5 {
  margin-top: -3rem;
}

small,
.small {
  font-size: 0.926rem;
}

/* header font family, weight, line-height, without margin top/bottom */
/* use hw and h2 say, to have a header like thing in details summary part */
.hw {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.25; }

/* does this font-size match one of his h2-5 sizes? */
.hp {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.25;
}

/* can do <span class="hp">this</span> or <a class="hp">this<a> for
markup we can do _this_{:.hp}  along with [Link text][key]{:.hp}
so underscore for em instead of span if we want bold header like text
 */
em.hp {
  font-style: normal;
}

.monospace-font-family {
  font-family: "DejaVu Sans Mono_", Consolas, monospace;
}

.heading-font-family {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

.font-family {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

.p_ost-summary hr {
  display: none;
}

.post-summary .ps-x-out {
  display: none;
}

.x-out {
  display: none;
}

.no-link-underline {
  text-shadow: none;
  background-image: none;
}

/* these apply to favicons */
.category-tags-icons-left,
.category-tags-icons-right {
  text-align: center;
  float: none;
}

.category-tags-icons {
  padding: 0.5em 0 0 0;
  color: #7a7a7a;
}

.post-summary h1,
.post-summary .h1 {
  font-size: 1.25rem;
}

.post-summary h2,
.post-summary .h2 {
  font-size: 1.25rem;
}

.post-summary h3,
.post-summary .h3 {
  font-size: 1.25rem;
}

.post-summary h4,
.post-summary .h4 {
  font-size: 1rem;
}

.post-summary h5,
.post-summary .h5 {
  font-size: 0.875rem;
}

.post-summary h6,
.post-summary .h6 {
  font-size: 0.75rem;
}

/* end of my changes */
a.hideunder {
  background-image: none;
  outline: none;
  display: inline-block;
  line-height: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.m-rounded {
  border: 1px solid #e0e0e0;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  color: #444;
  opacity: 1;
  background-image: none;
  text-decoration: none;
  line-height: 18px;
  padding: 3px 8px;
}

.m-rounded:hover {
  border-color: #000a13;
  color: #000a13;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .m-rounded {
    line-height: 15px;
    padding: 6px 8px 6px 8px;
  }
}

.m-sup {
  color: #777;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}
